@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-400'),
        url('../../fonts/MuseoModerno-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-500'),
        url('../../fonts/MuseoModerno-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-300'),
        url('../../fonts/MuseoModerno-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-700'),
        url('../../fonts/MuseoModerno-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

