@media (max-width: 1200px){
    .title_left {
        text-align: center;
    }
    .consultation {
        text-align: center;
    }
    .feed-form {
        margin: 0 auto;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .header {
        justify-content: space-around;
    }
    .carousel {
        .tns-item {
            img {
                width: 600px;
            }
        }
        .prev {
            left: 10%;
        }
        .next {
            right: 10%;
        }
    }
}

@media (max-width: 991px){
    .carousel {
        .tns-item {
            img {
                width: 450px;
            }
        }
        .prev {
            left: 5%;
        }
        .next {
            right: 5%;
        }
    }
}

@media (max-width: 767px){
    .benefit {
        &__icons {
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            max-width: 70%;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 80%;
            }
        }
        .prev, .next {
            display: none;
        }
        .tns-nav {
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: -15px;
            button {
                z-index: 100;
                width: 10px;
                height: 10px;
                margin-right: 10px;
                border-radius: 100%;
                border: 1px solid #ccc;
                &.tns-nav-active {
                    background-color: $main-color;
                    border: none
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .feed-form {
        width: 70%;
    }
}


