.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 25px;
    width: 303px;
    height: 442px;
    margin-bottom: 19px;
    margin-right: 17px;
    background: #FFFFFF;
    border: 2px solid #E8E8E8;
    &:nth-child(3n+3), &:nth-last-child(1) {
        margin-right: 0;
    }
    &__divider {
    width: 263px;
    height: 1px;
    background: #E8E8E8;
    }
    &__wrapper {
        position: relative;
        height: 356px;
        width: 100%;
            .card__front-side, .card__back-side {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                transition: .7s transform;
                backface-visibility: hidden;
            }
            .card__front-side {
                align-items: center;
                justify-content: space-around;
                .card__title {
                    font-weight: 700;
                    font-size: 16px;
                    color: #0D0D0D;
                }
                .card__about {
                    text-align: center;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 22px;
                    color: #0D0D0D;
                }
                .card__more {
                    margin-bottom: 17px;
                    font-weight: 500;
                    font-size: 14px;
                    text-align: center;
                    text-decoration-line: underline;
                    color: $main_color;
                    cursor: pointer;
                }
            }
            .card__back-side {
                justify-content: space-between;
                transform: rotateY(180deg);
                .card__descr {
                    li {
                        margin-bottom: 3px;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 21px;
                        color: #555555;
                        list-style-type: none;
                        &:before {
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            width: 5px;
                            height: 5px;
                            margin-right: 10px;
                            background: $main-color;
                            margin-bottom: 2px;
                        }
                    }
                }
                .card__back {
                    font-weight: 500;
                    font-size: 14px;
                    text-align: center;
                    text-decoration-line: underline;
                    color: $main_color;
                    cursor: pointer;
                    margin-bottom: 24px;
                }
            }
    }
    &-active {
        .card__front-side {
            transform: rotateY(180deg)
        }
        .card__back-side {
            transform: rotateY(360deg)
        }    
    } 
    &__buy {
        width: 100%;
        height: 80px;
        padding-top: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__old-price {
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        color: #555555;
    }
    &__new-price {
        margin-top: 2px;
        font-weight: 700;
        font-size: 20px;
        align-items: flex-end;
        color: #050505;
    }
}