.carousel {
    padding: 81px 0px;
    &__inner {
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        cursor: pointer;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .prev {
        left: -66px;
    }
    .next {
        right: -66px;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}


